@charset "utf-8";

/*reset*/
body, h4, h5 {
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    width: 100%;
    max-width: 2048px;
    min-width: 720px;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

/*header navigation*/
.gnb {
    width: 100%;
    background-color: transparent;
}

.box-header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 60px;
    padding: 1em;
    box-sizing: border-box;
}

.box-header.active {
    z-index: 2;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.box-header-logo {
    display: inline-block;
    float: left;
    width: 19%;
}

.box-header-logo .img-logo {
    width: 112px;
    height: 23px;
    background-image: url("../img/ico_recruit_170920.png");
    background-position: 0 0;
    text-indent: -9999px;
    cursor: pointer;
}

.box-header-logo .img-logo.active {
    background-position: -120px 0 !important;
}

.box-header-menu {
    display: inline-block;
    width: 60%;
    text-align: center;
}

.box-header-etc {
    display: inline-block;
    width: 19%;
}

.box-header-submenu {
    position: fixed;
    top: 58px;
    width: 100%;
    height: 0;
    overflow: hidden;
    border: none;
    text-align: center;
    line-height: 3.5;
}

.box-header-submenu.active {
    z-index: 1;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.box-header-menu ul,
.box-header-etc ul,
.box-header-submenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box-header-etc ul {
    float: right;
}

.box-header-submenu ul {
    height: 100%;
}

.box-header-menu li,
.box-header-etc li,
.box-header-submenu li {
    display: inline;
    padding-bottom: 0.3em;
    margin: 0 0.8em;
}

.box-header-menu li:hover,
.box-header-submenu li:hover {
    border-bottom: 1px solid #000;
}

.box-header-etc button:hover {
    text-decoration: underline;
}

.box-header-menu li a,
.box-header-etc li button,
.box-header-submenu li a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

.box-header-etc li button {
    padding: 0;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 0.75em;
    cursor: pointer;
}

.box-header-menu li a.active,
.box-header-etc li button.active,
.box-header-submenu li a.active {
    color: #000;
}

/*header click modal layer*/
.box-modal {
    display: none;
    z-index: 100;
    position: absolute;
    right: 45px;
    border: 1px solid #eee;
    background-color: #fff;
    width: 200px;
    height: 275px;
}

.box-modal .box-modal-info {
    height: 60%;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
}

.box-modal-info .nickname {
    font-weight: 400;
}

.box-modal-info .info-resume {
    font-weight: 400;
    font-size: 0.8em;
    color: crimson
}

.box-modal-info .btn-resume {
    font-size: 0.75em;
}

.box-modal-info .btn-resume a {
    text-decoration: none;
    color: #000;
}

.box-modal-info .btn-resume a:hover {
    text-decoration: underline;
}

.box-modal .box-modal-btn {
    height: 40%
}

.box-modal-btn button {
    width: 100%;
    height: 50%;
    border: 1px solid #eee;
    background-color: #f7f7f7;
    cursor: pointer;
}

.box-modal-btn button:hover {
    text-decoration: underline;
}

/*main slide box*/

.main-box-slide {
    overflow: hidden;
    position: relative;
}

.box-slide {
    position: relative;
    width: 30000px;
    height: 40em;
}

.box-slide > div {
    display: inline-block;
    position: relative;
    float: left;
    width: auto;
    height: 100%;
    padding: 0;
}

.box-slide > div.box-slide-img-01 {
    background-image: url("../img/img-slide-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-slide > div.box-slide-img-02 {
    background-image: url("../img/img-slide-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-slide > div.box-slide-img-03 {
    background-image: url("../img/img-slide-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-slide > div.box-slide-img-04 {
    background-image: url("../img/img-slide-04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-slide > div.box-slide-img-05 {
    background-image: url("../img/img-slide-05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-slide .box-slide-content {
    margin: 15em 20em 0 10em;
    cursor: pointer;
}

.box-slide .box-slide-content .nickname {
    margin: 1em 0;
}

.box-slide .box-slide-content .oneword {
    margin-bottom: 1.3em;
    font-weight: 400;
    font-size: 2.5em;
}

.box-slide .box-slide-content .btn-interview {
    font-size: 0.8em;
    font-weight: 700;
    color: gold;
}

.box-slide .page {
    color: #fff;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateY(-50%);
}

.box-slide-btn {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    transform: translateY(-50%);
}

.box-slide-btn .btn-prev {
    float: left;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-image: url("../img/ico_recruit_170920.png");
    background-position: 0 -40px;
    text-indent: -9999px;
    cursor: pointer;
}

.box-slide-btn .btn-next {
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    background-image: url("../img/ico_recruit_170920.png");
    background-position: -40px -40px;
    background-color: transparent;
    text-indent: -9999px;
    cursor: pointer;
}

/*main content box*/
section.box-content {
    display: flex;
    width: 100%;
    height: 400px;
    border-bottom: 1px solid #eee;
}

.box-content-01, .box-content-02, .box-content-03 {
    flex: 1;
    width: 33%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.box-content-02 {
    background-color: #fff;
}

.box-content-03 {
    background-color: #d4d1cc;
}

.box-content-01 .title,
.box-content-02 .title,
.box-content-03 .title {
    height: 10%;
    font-size: 0.9em;
    font-weight: 700;
}

.box-content-01 .description,
.box-content-02 .description {
    height: 90%;
    padding: 2em;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.box-content-01 .description img {
    height: 77%;
}

.box-content-02 .description {
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    letter-spacing: -1px;
    line-height: 1.5em;
}

.box-content-03 .description {
    height: 90%;
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: -1px;
    line-height: 1.5em;
}

.box-content-03 .description > div {
    position: relative;
}

/*footer*/
footer .box-footer {
    position: relative;
    width: 100%;
    height: 5em;
    padding: 1em;
    box-sizing: border-box;
}

.box-company-info {
    display: inline-block;
    float: left;
    font-size: 0.7em;
    color: #5f5f5f;
}

.box-company-info a {
    color: #5f5f5f;
    text-decoration: none;
}

.box-company-info a:hover {
    text-decoration: underline;
}

.box-company-info .terms {
    margin-bottom: 0.5em;
}

.box-company-info .terms .privacy {
    font-weight: 900;
}

.box-company-etc {
    display: inline-block;
    float: right;
}

.box-company-etc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box-company-etc button {
    padding: 0;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 0.7em;
    cursor: pointer;
}

.box-company-etc button:hover {
    text-decoration: underline;
}

.box-company-etc li {
    display: inline;
    padding: 0 1em 0.3em 0;
}

.box-company-etc li:first-child img,
.box-company-etc li:last-child img {
    height: 15px;
    width: 15px;
    padding-left: 0.3em;
    vertical-align: middle;
}

.box-company-etc li:first-child img.active,
.box-company-etc li:last-child img.active {
    transform: rotate(60deg);
}

/*footer click modal layer*/
.box-modal-relationl {
    display: none;
    z-index: 100;
    position: absolute;
    right: 105px;
    bottom: 70px;
    width: 110px;
    height: 90px;
    padding: 0.7em;
    border: 1px solid #eee;
    background-color: #fff;
    box-sizing: border-box;
}

.box-modal-lang {
    display: none;
    z-index: 100;
    position: absolute;
    right: 22px;
    bottom: 70px;
    width: 65px;
    height: 70px;
    padding: 0.7em;
    border: 1px solid #eee;
    background-color: #fff;
    box-sizing: border-box;
}

.box-modal-relationl ul,
.box-modal-lang ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box-modal-relationl a,
.box-modal-lang a {
    font-weight: 400;
    font-size: 0.7em;
    color: #000;
    text-decoration: none;
}
